$text:#A2A6AC;
$red: #ff0007;
$black: #171818;
$font1: "Inter", serif;
$font2: "IBM Plex Sans", serif;
$font3: 'Gilroy', serif;
$font4: "Open Sans", serif;
body{
  font-family: $font2;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.575;
  min-width: 320px;
  position: relative;
  background: #fff;
  max-width: 3000px;
  margin: auto;
  color: $black;
  scroll-behavior: unset !important;
}
html{
  scroll-behavior: unset !important;
}

header, section, footer{
  margin: auto;
}

a{
  text-decoration: none;
  &:focus{
    outline: none!important;
  }
}

a:hover, a:focus, a:active{
  text-decoration: none;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a, button{
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}
figure{
  margin: 0;
  img{
    width: auto;
    max-width: 100%;
    vertical-align: top;
  }
}

ul{
  margin: 0;
  padding: 0;
  li{
    list-style-type: none;
  }
}
p, a{
  color: $text;
  margin: 0;
}
input{
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  appearance: none!important;
}
.content-width{
  width: 1140px;
  margin: auto;
}

h1{
/*  font-family: "Open Sans", serif;*/
  margin: 0 0 30px;
}
h2{
  font-size: 60px;
  line-height: 1;
  letter-spacing: -2px;
  font-weight: 600;
}
h3{
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 30px;
}
h4{
  margin: 0 0 30px;
}
h5{
  margin: 0 0 10px;
}
h6{
  font-size: 22px;
  line-height: 1.22;
  font-weight: 600;
  margin: 0 0 10px;
}

input:invalid {
  box-shadow: none;
}

input, textarea, button{
  outline: none!important;
}

.wpcf7 form .wpcf7-response-output{
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  line-height: 1.2;
  background: #00a0d2;
}
.wpcf7 form.sent .wpcf7-response-output{
  background: #46b450;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output{
  background: #ffb900;
}

.bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  .img-mob{
    display: none;
  }
}
.bg + *{
  position: relative;
  z-index: 2;
}
/*---------------------------------HOME-PAGE----------------------------------*/
.title-animated {
  line-height: 1;
  height: 100px;
  overflow: hidden;
  text-transform: uppercase;
  span {
    display: flex;
  }


  span span:first-child {
    display: block;
    transform: translateY(-2em);
  }
  span span:last-child {
    display: block;
    transform: translateY(0);
  }
}


.animated-color {
  color: #dfdfdf;
}

.animated-text-lines {
  p {
    visibility: hidden;
  }

  .line {
    opacity: 0;
    transform: translateY(80px);
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(80px);
}

.fade-in-wrapper {
  & > * {
    @extend .fade-in;
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  margin-top: 30px;
  .header-main{
    padding: 0 62px;
  }
  .container-fluid{
    background: #fff;
    padding: 5px 5px 5px 50px;
    border-radius: 5px;
  }
}

.header .header-logo {
  width: 50px;
}


.header .header-logo svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.navbar-toggler {
  box-shadow: none;
  width: 49px;
  height: 40px;
  background: 0 0;
  border-radius: 0;
  border: none;
  padding: 10px;
  margin-left: 40px;
}
.navbar-toggler .navbar-toggler-icon {
  display: block;
  margin: auto;
  width: 29px;
  height: 0;
  position: relative;
}
.navbar-toggler .navbar-toggler-icon:after, .navbar-toggler .navbar-toggler-icon:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #111212;
  transition: all .2s linear;
  border-radius: 0;
}
.navbar-toggler .navbar-toggler-icon:before {
  width: 17px;
  top: -6px;
}
.navbar-toggler .navbar-toggler-icon:after {
  bottom: -6px;
}
.header .lang-switcher {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  color: #111212;
  text-transform: uppercase;
  margin: 0 30px 0 42px;
  transition: all .5s;
  height: 64px;
}
.header .lang-switcher button {
  border: none;
  background: 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  color: #111212;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background: 0 0;
  appearance: none;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  transition: all .5s;
  height: 100%;
}
.header .lang-switcher button:after {
  content: "";
  display: block;
  background: url(../img/arrow-dark.svg);
  width: 11px;
  height: 7px;
  margin: 2px 0 0 6px;
  transition: all .5s;
}
.header .lang-switcher ul {
  position: absolute;
  z-index: 1;
  background-color: #f8f9fa;
  margin: 0;
  padding: 64px 20px 10px;
  list-style: none;
  left: -20px;
  right: -20px;
  top: 0;
  line-height: 1.5;
  display: none;
  transition: all .5s;
}
.header .lang-switcher ul a {
  text-decoration: none;
  color: #111212;
  transition: all .5s;
}
.header .header-btn {
  position: relative;
  z-index: 2;
}
.btn {
  height: 64px;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
}
.header .header-btn .btn {
  background-color: #111212;
  color: #fff;
  padding: 0 29px;
  transition: all .5s;
  font-size: 15px;
}
.btn span {
  z-index: 1;
  position: relative;
  display: inline-flex;
  align-items: center;
  text-align: center;
  transition: all .4s ease-in-out;
  height: 100%;
}
.btn span:after {
  content: attr(data-text);
  display: inline-flex;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  top: 100%;
}
.btn:hover span {
  transform: translateY(-100%);
}
.header-navbar {
  position: absolute;
  left: 0;
  top: -30px;
  width: 100%;
  height: 540px;
  background-color: #fff;
  padding: 45px 0 70px;
  transform: translateY(-120%);
  transition: all 3s cubic-bezier(.11,1.11,0,.98);
}

.header .container-fluid, .header .container-lg, .header .container-md, .header .container-sm, .header .container-xl, .header .container-xxl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navbar .container-fluid, .header-navbar .container-lg, .header-navbar .container-md, .header-navbar .container-sm, .header-navbar .container-xl, .header-navbar .container-xxl {
  flex-direction: column;
  align-items: unset;
  height: 100%;
}
.navbar-toggler {
  box-shadow: none;
  width: 49px;
  height: 40px;
  background: 0 0;
  border-radius: 0;
  border: none;
  padding: 10px;
  margin-left: 40px;
}
.header-navbar .navbar-toggler {
  margin: 0 0 0 -13px;
}
.navbar-toggler .navbar-toggler-icon {
  display: block;
  margin: auto;
  width: 29px;
  height: 0;
  position: relative;
}

.header-navbar .navbar-toggler .navbar-toggler-icon:before {
  background: #111212;
  transform: translateY(4px) rotate(45deg);
  width: 20px;
}
.header-navbar .navbar-toggler .navbar-toggler-icon:after {
  background: #111212;
  transform: translateY(-4px) rotate(-45deg);
  width: 20px;
}
.global-wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-navbar .navigation-main {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.3;
  margin: 118px 0 0;
}
.header-navbar .navigation-main>ul {
  display: flex;
  margin: 0;
}

.header-navbar .navigation-main>ul>li {
  margin: 0 4.16% 0 0;
}
.header-navbar .navigation-main>ul>li>a {
  color: #111212;
  text-decoration: none;
  position: relative;
}

.header-navbar .navigation-main>ul>li>a:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #111212;
  transition: width .3s ease;
}
.header-navbar .header-navbar-bottom {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ico-link {
  --color-base: #3b94c8;
  --color-hover: #111212;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-base);
  text-decoration: none;
}

.ico-link svg {
  display: block;
  margin: 3px 10px 0 0;
}

.list-underlined {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.05;
  text-transform: uppercase;
}

.list-underlined ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.header-navbar .header-navbar-bottom .list-underlined ul li {
  margin: 0 0 0 29px;
}

.list-underlined ul a {
  display: block;
  position: relative;
  text-decoration: none;
  color: #111212;
  padding: 4px 0;
}

.list-underlined ul a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #111212;
  transform-origin: right center;
  transition: transform .3s;
}
.header.header-light.nav-opened .header-logo {
  opacity: 0;
}

.header-navbar.active {
  transform: translateY(0);
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: calc(1780px + 2.5rem);
  padding-left: calc(2.5rem* .5);
  padding-right: calc(2.5rem* .5);
}

.header-navbar .navigation-main>ul ul {
  margin: 28px 0 0;
}

.header-navbar .navigation-main>ul>li>a:hover:after {
  width: 100%;
  left: 0;
}

.list-underlined ul a:hover:after {
  transform: scaleX(0);
}

.header-navbar .container-fluid{
  padding: 5px;
}

.home-section-1{
  background: #fff;
  border-radius: 34px 34px 0 0;
  padding: 200px 0 50px;
  width: 77%;
  margin: 100vh auto 0;
  position: relative;
  opacity: 0;
}
.header .header-main .container-fluid{
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
}

.header-light .header-main .container-fluid{
  box-shadow: none;
}

.header-shadow .header-main .container-fluid{
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
}





.home-banner {
  width: 100vw;
  height: calc(100vh + 30px);
  position: fixed;
  left: 0;
  top: 0;
  .bg{
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.home-banner .text {
  width: 78%;
  height: 90%;
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 21vh;
  max-width: 1520px;
  margin: 10% auto 0;
}

.home-banner .text p {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 12px;
  line-height: 1;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #fff;
}
.title-animated .h1, .title-animated h1 {
  height: 1em;
  overflow: hidden;
  text-transform: uppercase;
  font-family: $font3;
  font-size: 80px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 46px;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.navbar-toggler .navbar-toggler-icon {
  display: block;
  margin: auto;
  width: 29px;
  height: 0;
  position: relative;
}
.navbar-toggler .navbar-toggler-icon:after, .navbar-toggler .navbar-toggler-icon:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #111212;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border-radius: 0;
}
.navbar-toggler .navbar-toggler-icon:before {
  width: 17px;
  top: -5px;
}
.navbar-toggler .navbar-toggler-icon:after {
  bottom: -5px;
}

.btn-download{
  height: 64px;
  line-height: 58px;
  padding: 0 19px 2px;
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  font-family: $font2;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: -0.4px;
  overflow: hidden;
  position: relative;
  &:after{
    position: absolute;
    top: 0;
    left: -100%;
    content: '';
    height: 100%;
    background: #fff;
    transition: all .4s ease;
    width: 100%;
  }
  img{
    width: 14px;
    margin-right: 4px;
    filter: invert(1);
  }
  span{
    position: relative;
    z-index: 2;
  }
  &:hover{
    color: #000;
    img{
      filter: invert(0);
    }
    &:after{
      left: 0;
    }
  }
}
.header .lang-switcher.active button:after {
  transform: scaleY(-1);
}
.header .lang-switcher.active ul {
  display: block;
}

.home-section-1{
  .content{
    width: 1480px;
    max-width: 100%;
    margin: auto;
  }
  .title-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 103px;
    padding-bottom: 54px;
    border-bottom: 1px solid #dbe0e4;
    .right{
      padding-top: 36px;
    }
  }
  .title{
    width: 48%;

  }
  h2{
    margin-bottom: 0;
  }
  .right{
    width: 39.4%;
    p{
      margin-bottom: 30px;
    }
    p:last-child{
      margin-bottom: 0;
    }
  }
  .item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 65px;
    .right{
      padding-top: 26px;
    }
  }
  figure{
    width: 50%;
    img{
      width: 100%;
      height: auto;
      border-radius: 20px;
    }
  }
  h6{
    margin: 0;
  }
}
.big-blue{
  color: #22809B;
  font-size: 100px;
  line-height: 1;
  letter-spacing: -1px;
  font-weight: 500;
}
.products{
  padding: 74px 0 50px;
  background: #fff;
  position: relative;
  .big-blue{
    margin-bottom: 123px;
  }
  .item{
    width: calc(33.33% - 57px);
    figure{
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f5f7f9;
      border-radius: 10px;
      overflow: hidden;
      height: 503px;
      margin-bottom: 13px;
      img{
        width: auto;
        height: auto;
        transition: all .4s ease;
        opacity: 1;
      }
      .hover{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
      }
    }
    p{
      color: #111212;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.11;
      text-transform: uppercase;
      font-family: $font4;
    }
    a:hover{
      figure{
        img{
          opacity: 0;
        }
        .hover{
          opacity: 1;
        }
      }
    }
  }
  .content{
    grid-gap: 56px 85px;
  }
}

.btn-border{
  height: 64px;
  line-height: 58px;
  padding: 0 46px 2px;
  border: 2px solid #22809b;
  color: #22809b;
  background: transparent;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: -0.4px;
  overflow: hidden;
  position: relative;
  font-family: $font4;
  &:after{
    position: absolute;
    top: 0;
    left: -100%;
    content: '';
    height: 100%;
    background: #22809b;
    transition: all .4s ease;
    width: 100%;
  }

  span{
    position: relative;
    z-index: 2;
    text-transform: uppercase;
  }
  &:hover{
    color: #fff;
    &:after{
      left: 0;
    }
  }
}

.news{
  padding: 218px 0 100px;
  position: relative;
  background: #fff;
  .content{
    grid-gap: 40px 20px;
  }
  .btn-wrap{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-bottom: -70px;
    top: -5px;
  }
  .item{
    width: calc(33.33% - 14px);
    a{
      display: inline-block;
      height: 777px;
      position: relative;
      figure{
        height: 100%;
        overflow: hidden;
        width: 100%;
        border-radius: 15px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all .4s ease;
          border-radius: 15px;
        }
      }
      p{
        position: absolute;
        z-index: 3;
        bottom: 61px;
        left: 39px;
        right: 45px;
        color: #FEFEFE;
        font-size: 18px;
        line-height: 1.33;
        font-weight: 700;
        text-transform: uppercase;
      }
      &:hover{
        img{
          transform: scale(1.02);
        }
      }
    }
  }
  .item:first-child{
    a{
      height: 493px;
    }
  }
  .wrap{
    width: 1480px;
    max-width: 100%;
    margin: auto;
  }
}

footer{
  position: relative;
  background: #fff;
  padding: 63px 0 50px;
  width: 100%;
  .content{
    width: 1480px;
    max-width: 100%;
    margin: auto;
    position: relative;
    z-index: 3;
    padding: 68px 0 35px;
  }
  .left{
    width: 50%;
    grid-gap: 20px;
  }
  .logo-wrap{
    width: 50px;
    margin-right: 84px;
    padding-top: 3px;
    img, svg{
      width: 100%;
      filter: brightness(0) saturate(100%) invert(41%) sepia(75%) saturate(437%) hue-rotate(147deg) brightness(90%) contrast(93%);
    }
  }
  .item{
    margin-right: 54px;
    h6{
      position: relative;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 1.3;
      font-family: $font2;
      font-weight: 600;
      color: #22809B;
      margin-bottom: 10px;
      img{
        position: absolute;
        top: 3px;
        left: -30px;
        width: 20px;
        height: auto;
      }
    }
    p{
      font-size: 16px;
      text-transform: uppercase;
      line-height: 1.3;
      font-family: $font2;
      font-weight: 600;
      color: #BCD3D9;
      margin-bottom: 10px;
      a{
        font-size: 16px;
        text-transform: uppercase;
        line-height: 1.3;
        font-family: $font2;
        font-weight: 600;
        color: #BCD3D9;
        margin-bottom: 10px;
        &:hover{
          color: #22809B;
        }
      }
    }
  }
  .item:last-child{
    margin-right: 0;
  }
  .item-menu{
    position: relative;
    top: -5px;
    li{
      margin-bottom: 1px;
      a{
        font-size: 16px;
        text-transform: uppercase;
        line-height: 1.3;
        font-family: $font2;
        font-weight: 600;
        color: #BCD3D9;
        display: inline-block;
        &:hover{
          color: #22809B;
        }
      }
    }
  }
  .container-fluid{
    position: relative;
    .border{
      border: 1px solid #22809B!important;
      border-radius: 10px;
      position: absolute;
      top: 0;
      left: 20px;
      right: 20px;
      height: 100%;
    }
  }
  .right{
    width: 50%;
    grid-gap: 40px 49px;

  }
  .btn-wrap{
    padding-top: 3px;
    .btn{
      background: #22809B;
      color: #fff;
      padding: 0 34px;
      font-size: 15px;
      font-weight: 400;
      font-family: $font4;
    }
  }
  .bottom{
    margin-top: 53px;
    padding-top: 33px;
    border-top: 1px solid #d2e6eb;
    p{
      font-size: 16px;
      text-transform: uppercase;
      line-height: 1.3;
      font-family: $font2;
      font-weight: 600;
      color: #22809B;
      a{
        font-size: 16px;
        text-transform: uppercase;
        line-height: 1.3;
        font-family: $font2;
        font-weight: 600;
        color: #22809B;
        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
}
.products .item figure{
  padding: 10px;
}
.news .item a{
  display: block;
}
/*--------------------------------END-HOME-PAGE----------------------------------*/
/*--------------------------------CAREERS-PAGE----------------------------------*/
.careers{
  padding: 297px 0 107px;
  .content{
    width: 1480px;
    max-width: 100%;
    margin: auto;
  }
  .title{
    margin-bottom: 118px;
    p{
      font-size: 20px;
      line-height: 1.5;
      color: #A2A6AC;
      font-family: $font1;
      letter-spacing: 0.2px;
    }
  }
  h1{
    color: #22809B;
    font-size: 72px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 48px;
    letter-spacing: -0.5px;
    font-family: $font1;
  }
  .form-wrap{
    justify-content: space-between;
  }
  figure{
    width: calc(50% - 10px);
    img{
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
  .wrap{
    width: calc(50% - 10px);
    padding: 91px 97px 30px;
    border: 1px solid #d3d8d8;
    border-radius: 10px;
  }
  .h3{
    font-size: 36px;
    line-height: 46px;
    font-family: $font1;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 102px;
  }

}

.default-form{
  .input-wrap{
    margin-bottom:49px;
    position: relative;
    span{
      display: inline-block;
      width: 20px;
      position: absolute;
      bottom: 2px;
      left: 0;
      img{
        width: 100%;
        vertical-align: top;
      }
    }
    label{
      display: block;
      width: 100%;
      margin-bottom: -9px;
      img{
        width: 20px;
        vertical-align: top;
      }
    }
    input{
      width: 310px;
      padding: 0;
      border: none;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      border-bottom: 1px solid #d9dde0;
      color: #000;
      max-width: 100%;
      border-radius: 0;
      background: transparent!important;
    }
    textarea{
      width: 100%;
      resize: none;
      padding: 0 0 5px;
      height: 93px;
      outline: none!important;
      line-height: 1.3;
      font-size: 16px;
      border: none;
      border-bottom: 1px solid #d9dde0;
      color: #000;
      margin-top: 17px;
      border-radius: 0;
      background: transparent!important;
    }
    .tel{
      padding-left: 26px;
    }
  }
  .input-wrap-submit{
    .btn{
      width: 100%;
      background: #171818;
      color: #fff;
      font-size: 15px;
    }
  }
}
.careers figure img{
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/*-------------------------------END-CAREERS-PAGE----------------------------------*/
/*-------------------------------CONTACT-PAGE----------------------------------*/
.bg-green{
  background: #e9f0f2;
  footer{
    background: transparent;
    padding: 0 0 30px;
    .container-fluid{
      .border{
        background: #fff;
        border-color: transparent!important;
      }
    }
  }

}
.contacts{
  padding: 215px 0 20px;
  .content{
    justify-content: space-between;
  }
  .title{
    width: calc(100% - 750px);
    padding: 156px 0 0 144px;
    p{
      padding-left: 5px;
      a{
        display: inline-block;
        color: #22809b;
        font-size: 20px;
        line-height: 1;
        font-family: $font1;
        font-weight: 600;
        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
  h1{
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 17px;
    font-family: $font1;
    font-weight: 500;
    color: #22809b;
  }
  .form-wrap{
    width: 730px;
    padding: 95px 100px 65px;
    background: #fff;
    border-radius: 10px;
    height: fit-content;
  }
  .h3{
    margin-bottom: 84px;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 600;
    color: #111212;
    font-family: $font1;
  }
  .bottom{
    width: calc(100% - 750px);
    margin-top: -228px;
    grid-gap: 49px 20px;
    height: fit-content;
    h5{
      width: 100%;
      display: flex;
      align-items: center;
      grid-gap: 8px;
      font-size: 24px;
      line-height: 1.2;
      font-weight: 700;
      color: #171818;
      margin-bottom: 0;
      text-transform: uppercase;
      img{
        width: 24px;
      }
    }
    .item{
      width: calc(50% - 10px);
      border-radius: 10px;
      background: #fff;
      padding: 33px 20px 33px 85px;
      height: fit-content;
      h6{
        display: flex;
        align-items: center;
        grid-gap: 10px;
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;
        color: #111212;
        margin-bottom: 10px;
        position: relative;
        img{
          width: 25px;
          position: absolute;
          top: 0;
          left: -55px;
        }
      }
      p{
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;
        color: #BCD3D9;
        margin-bottom: 13px;
        a{
          display: flex;
          align-items: center;
          width: fit-content;
          grid-gap: 10px;
          color: #BCD3D9;
          img{
            width: 20px;
            filter: brightness(0) saturate(100%) invert(100%) sepia(91%) saturate(817%) hue-rotate(169deg) brightness(89%) contrast(90%);
          }
          &:hover{
            color: #22809b;
            img{
              filter: brightness(0) saturate(100%) invert(42%) sepia(29%) saturate(964%) hue-rotate(147deg) brightness(97%) contrast(100%);
            }
          }
        }
      }
      p:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.header-border .container-fluid{
  border: 1px solid #d3d8d8;
}
/*------------------------------END-CONTACT-PAGE----------------------------------*/
/*------------------------------NEWS-PAGE----------------------------------*/
.news-block{
  padding: 257px 0 90px;
  .title{
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1px;
    color: #22809b;
    font-weight: 600;
    font-family: $font1;
    margin-bottom: 77px;
    text-transform: uppercase;
  }
  .item{
    width: calc(33.33% - 14px);
    h1{
      font-size: 30px;
      line-height: 1;
      color: #fff;
      margin-bottom: 20px;
      font-weight: 500;
      font-family: $font1;
    }
    .text{
      font-size: 18px;
      line-height: normal;
      font-weight: 400;
      color: rgba(#fff, 0.5)
    }
    .bottom{
      position: absolute;
      bottom: 30px;
      left: 41px;
      right: 41px;
      z-index: 10;
    }
    a{
      display: block;
      overflow: hidden;
      border-radius: 10px;
      position: relative;
      &:after{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 51%, rgba(0,0,0,1) 100%);
      }
      .data{
        display: inline-block;
        padding: 0 15px;
        line-height: 32px;
        font-weight: 700;
        font-family: $font2;
        color: #171818;
        font-size: 15px;
        background: #fff;
        border-radius: 17px;
        margin-bottom: 23px;
      }
      .bg{
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all .4s ease;
          transform-origin: center;
        }
      }
      &:hover{
        .bg{
          img{
            transform: scale(1.02);
          }
        }
      }
    }
    .wrap-content{
      height: 495px;
    }
  }
  .item-full{
    width: 100%;
    margin-bottom: 27px;
    .data{
      position: absolute;
      top: 77px;
      left: 70px;
    }
    .bottom{
      bottom: 70px;
      left: 70px;
      right: 70px;
      width: 730px;
      max-width: 100%;
    }
  }
  .content{
    max-width: 100%;
    width: 1480px;
    margin: auto;
  }
  .d-flex{
    grid-gap: 20px 20px;
  }
  .title-item{
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
    font-family: $font1;
    text-transform: uppercase;
    letter-spacing: 1px;
    min-height: 72px;
  }
  .item-wrap{
    margin-bottom: 143px;
  }
  .item-wrap:last-child{
    margin-bottom: 0;
  }
}
/*-----------------------------END-NEWS-PAGE----------------------------------*/
/*------------------------------NEWS-INNER-PAGE----------------------------------*/
.text-default{
  padding: 250px 0 75px;
  line-height: 1.3;
  color: #171818;
  h1{
    font-size: 48px;
    line-height: normal;
    text-align: center;
    font-weight: 600;
    letter-spacing: -1px;
    color: #22809b;
    margin-bottom: 68px;
  }
  h2 {
    font-size: 36px;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 32px;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 20px;
  }

  h4{
    font-size: 30px;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 20px;
  }
  h5{
    font-size: 26px;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 20px;
  }
  h6{
    font-size: 24px;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 20px;
  }
  ul{
    padding-left: 20px;
    margin-bottom: 30px;
    li{
      list-style: disc;
    }
  }
  ol{
    margin-bottom: 30px;
  }
  .content{
    width: 1180px;
    max-width: 100%;
    margin: auto;
  }
  .text-wrap{
    width: 880px;
    max-width: 100%;
    margin: 80px auto 0;
  }
  figure{
    width: 100%;
    margin: 70px 0 30px;
    img{
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
    figcaption{
      display: block;
      width: 100%;
      text-align: right;
      margin-top: 25px;
      font-size: 15px;
      line-height: normal;
      font-family: $font2;
      color: #cacaca;
    }
  }
  p{
    color: #171818;
    margin-bottom: 20px;
    a{
      color: #171818;
      text-decoration: underline;
      &:hover{
        opacity: 0.7;
      }
    }
  }
  .video-wrap{
    position: relative;
    margin-top: 60px;

    iframe{
      width: 100%;
      height: 625px;
      border-radius: 10px;
    }
  }
}
/*-----------------------------END-NEWS-INNER-PAGE----------------------------------*/
/*-----------------------------PRODUCT-PAGE----------------------------------*/
.product-header {
  padding: 287px 0 0;
  margin: 0 0 205px;

  .link-back-wrapper {
    margin: 0 0 153px;
  }

  .text {
    border-bottom: 1px solid #171818;
    padding: 0 0 17px;
  }

  .h3 {
    color: #3B94C8;
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -1px;
  }

  p {
    font-size: clamp(1.5rem, 1.667vw, 2rem);
    line-height: 1.2;
    margin: 0 0 0 35px;
    letter-spacing: -0.045em;
  }
.link-back svg{
  transform: rotate(90deg);
  position: relative;
  top: -1px;
}
  .link-back{
    color: #111212;
    font-size: 15px;
    line-height: 1.2px;
    font-family: $font2;
    font-weight: 700;
    text-transform: uppercase;
    &:hover{
      color: #3B94C8;
      svg{
        fill: #3B94C8;
      }
    }
  }
  .title-item{
    width: 45%;
  }
  .text-info{
    width: 52%;
    p{
      color: #111212;
    }
  }
}

.accordion {
  color: #111212;
  .accordion-item {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #171818;
    outline: none!important;
    .accordion-header {
      .accordion-button {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 42px 0 20px;
        letter-spacing: -0.025em;
        position: relative;
        background: transparent!important;
        border: none!important;
        outline: none!important;
        box-shadow: none!important;
        &:after {
          position: absolute;
          right: 24px;
          top: 55%;
          transform: translateY(-50%);
        }
      }
    }

    .accordion-body {
      color: #858688;
      padding: 34px 13.2% 51px;
      font-size: 16px;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        color: #858688;
        li {
          position: relative;
          padding: 0 0 0 17px;
          margin: 0 0 -1px;

          &:before {
            content: "-";
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e  %3cpath d='M17.5 11.75C12 11.75 12 12.1419 6.5 12.1419' stroke='%23111212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3e%3cpath d='M12 6.5L12 17.5' stroke='%23111212' stroke-width='1.5' stroke-linecap='round' /%3e%3c/svg%3e");
  width: 27px;
  height: 27px;
  background-size: 27px;
}
.accordion-button:not(.collapsed)::after{
  background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e  %3cpath d='M17.5 11.8042C12 11.8042 12 12.1961 6.5 12.1961' stroke='%23111212' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
}
.product-details {
  margin: 0 0 45px;

  h2 {
    margin: 0 0 19px;
  }

  .product-details-images {
    margin: 0 11.2% 0 0;

    figure {
      background-color: #f8f9fa;
      padding-top: 88.2%;
      position: relative;
      margin: 0 0 30px;

      span {

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }

      &:last-child {
        padding-top: 78.2%;
      }
    }
  }

  .accordion {
    margin: -48px 0 0;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    padding: 53px 0 0;

    .btn {
      width: 100%;
      margin: 20px 0 0;
      font-size: 15px;
      border-radius: 0;
      height: 72px;
    }
    .btn-dark{
      background-color: #111212!important;
    }
    .btn-primary{
      background-color: #22809b;
      border-color: #22809b;
      color: #fff;
    }
  }






}

.product-details{
  .h4{
    font-size: 1rem;
    line-height: 1.25;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -.03em;
    margin: 0 0 19px;
  }
}
.home-banner .video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.video video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
/*----------------------------END-PRODUCT-PAGE----------------------------------*/
